@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fg: #9ca3af;
  --fg-b: #d8dadf;
  --bg: #16171d;
  --accent: #ff496a;
  /* --border maybe? */
  /* --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  */
  --sans: 'Roboto', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Roboto Slab', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: 'Roboto Mono', ui-monospace, Consolas, monospace;

  font-size: 1rem;
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  color: var(--fg);
  background-color: var(--bg);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  text-rendering: optimizeLegibility;

  overflow: hidden;
  user-select: none;

  -webkit-user-select: none; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--fg-b);
}

.viewport {
  display: block;
  width: 100%;
  height: 100%;
}